<div class='container-fluid' style="min-height: 100%">
	
	<div class="col-md-12", align="right">
	    <%= will_paginate @listings %>
	</div>
	<div class="col-md-12">

			<% @listings.each_slice(4) do |listings| %>
				<div class='row'>
					<% listings.each do |listing| %>
				  		<div class="col-md-3">
				      
							<div class="well"><center>
							 <% if listing.image? %>

								<p><%= link_to image_tag(listing.image[0].to_s, class: "img-responsive", style: "border-radius: 3px;"), listing_path(listing) %></p>
							 <% else %>
				                <p><%= image_tag("http://placehold.it/360x480&text=no%20image", class: "img-responsive") %></p>
				             <% end %>

								<h4><%= link_to listing.title, listing_path(listing) %></h4>
								<p>Authors: <%= listing.author%></p></center>

							</div>
						</div>
					<% end %>
				</div>
			<% end %>
	 </div>
</div>